<section class="container flex flex-col gap-5 items-center w-[80%] mx-auto py-5">

<%= render partial: 'registration_form' %>

<p>ó</p>

<%= render partial: 'google_auth' %>

<p>¿Ya tienes una cuenta?</p>

<%= render "devise/shared/links" %>

</section>