<nav class="flex flex-col items-center bg-[#F2F1F6] pt-8">
  <div class="flex justify-center">
    <%= image_tag("logo_manuel", alt: "Logo Mauel") %>
  </div>

  <ul class="flex gap-5">
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Blog", root_path %></li>
  </ul>
</nav>