<section>
  <div class="flex flex-wrap bg-[#F2F1F6]">
    <div class="lg:flex-1 self-center py-8 lg:py-0">
      <div class="w-[80%] mx-auto text-lg lg:text-xl text-justify"> 
        <p>
          Hola soy el Veterinario Manuel Faneite, egresado de la Uneversidad
          Nacional Experimental Francisco de Miranda UNEFM en el año 2016
        </p>
        <p class="mt-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor
          elit at libero hendrerit volutpat. Ut semper purus id lorem tincidunt,
          quis facilisis odio efficitur. Aenean consequat ante ante, a laoreet
          ex commodo a. Curabitur placerat metus nec ante luctus, ac dapibus
          mauris finibus. Pellentesque maximus luctus orci. Duis fermentum diam
          libero, eu tincidunt justo efficitur at. Sed ut lectus nec lacus
          lobortis ornare. Etiam id lobortis ipsum, quis ultrices orci. Duis
          mattis finibus feugiat. Curabitur eu molestie tellus, placerat
          dignissim elit. Integer a cursus ante. Maecenas ut bibendum sem. Nam
          vel enim ac dui fringilla gravida. Ut vel aliquam.
        </p>
      </div>
    </div>
    <div class="lg:flex-1 bg-[#FFD700] flex justify-center w-full">
      <div class="drop-shadow-2xl">
        <%= image_tag("manuel_faneite.webp", alt: "foto del veterinario Manuel Faneite", class: "w-[200px] lg:w-[400px]")%>
      </div>
    </div>
  </div>
</section>