<section class="bg-[#F2F1F6] py-8">
  <div class= "flex flex-wrap gap-5 w-[80%] mx-auto justify-center">
    <div class="lg:flex-1 self-center text-center md:text-left">
      <h1 class="text-4xl">Los <span class="font-bold text-[#FFD700]">peluditos</span> de la casa son mi mayor <span class="font-bold text-[#FFD700]">prioridad</span></h1>
      <h2 class="text-xl pt-3">Conoce nuestros servicios y descubre cómo podemos ayudarte a cuidar de tu mascota</h2>
      <a href="#"> 
        <button class="bg-[#FFD700] text-[#000] text-xl font-bold px-4 py-2 rounded-md mt-5">Conocer más</button>
      </a>

      <div class="hidden lg:block">
        <%= image_tag("gatos_adorables.webp", alt: "Gatos adorables", class: "w-[300px]") %>
      </div>
    </div>

    <div class="lg:flex-1 drop-shadow-lg">
        <%= image_tag("mujer_con_perro.webp", alt: "Dueña feliz con su mascota", class: "w-[200px] lg:w-[400px]") %> 
    </div>
  </div>
</section>