<section
  id="services"
  class="section relative pt-20 pb-8 md:pt-16 md:pb-0 bg-white"
>
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- Heading start -->
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2 class="text-2xl leading-normal mb-2 font-bold text-black">
        Servicios
      </h2>
      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">
        Todo lo que necesitas para el cuidado primario de tu mascota.
      </p>
    </header>
    <!-- End heading -->
    <!-- row -->
    <div class="flex flex-wrap flex-row -mx-4 text-center">
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-gray-900 mb-4">
            <!-- icon -->
            <svg
              fill="#FFD700"
              width="64px"
              height="64px"
              viewBox="-2.5 0 19 19"
              xmlns="http://www.w3.org/2000/svg"
              class="cf-icon-svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M11.56 10.11v2.046a3.827 3.827 0 1 1-7.655 0v-.45A3.61 3.61 0 0 1 .851 8.141V5.25a1.682 1.682 0 0 1 .763-1.408 1.207 1.207 0 1 1 .48 1.04.571.571 0 0 0-.135.368v2.89a2.5 2.5 0 0 0 5 0V5.25a.57.57 0 0 0-.108-.334 1.208 1.208 0 1 1 .533-1.018 1.681 1.681 0 0 1 .683 1.352v2.89a3.61 3.61 0 0 1-3.054 3.565v.45a2.719 2.719 0 0 0 5.438 0V10.11a2.144 2.144 0 1 1 1.108 0zm.48-2.07a1.035 1.035 0 1 0-1.035 1.035 1.037 1.037 0 0 0 1.036-1.035z"
                ></path>
              </g>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
            Consultas
          </h3>
          <p class="text-gray-500">
            Aqui va texto pequeno describiendo el servicio.
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-gray-900 mb-4">
            <!-- icon -->
            <svg
              fill="#FFD700"
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 511.999 511.999"
              xml:space="preserve"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g>
                  <g>
                    <path
                      d="M505.673,107.124c-9.658-9.657-91.227-91.227-100.798-100.798c-8.433-8.434-22.108-8.434-30.542,0s-8.434,22.108,0,30.542 l12.248,12.248l-58.898,58.898c-24.93-24.93-30.011-30.011-51.072-51.072c-8.433-8.434-22.108-8.434-30.542,0 c-8.434,8.434-8.434,22.108,0,30.542l23.552,23.552L71.077,309.58c-8.434,8.434-8.434,22.108,0,30.542l35.129,35.129l-99.88,99.88 c-8.434,8.434-8.434,22.108,0,30.542c8.433,8.434,22.108,8.436,30.542,0l99.88-99.88l35.129,35.129 c8.433,8.433,22.108,8.434,30.542,0l198.546-198.546l23.552,23.552c8.433,8.434,22.108,8.436,30.542,0 c8.434-8.434,8.434-22.108,0-30.542c-21.054-21.054-26.152-26.152-51.072-51.072l58.898-58.897l12.248,12.248 c8.433,8.434,22.108,8.436,30.542,0C514.107,129.232,514.107,115.558,505.673,107.124z M187.147,395.109l-70.256-70.257 l28.516-28.516l18.325,18.325c8.433,8.433,22.108,8.434,30.542,0c8.434-8.434,8.434-22.108,0-30.542l-18.325-18.325l17.307-17.308 l18.325,18.325c8.433,8.434,22.108,8.436,30.542,0c8.434-8.434,8.434-22.108,0-30.542l-18.325-18.325l17.307-17.307l18.325,18.325 c8.433,8.434,22.108,8.436,30.542,0c8.434-8.434,8.434-22.108,0-30.542l-18.325-18.325l28.518-28.518 c7.059,7.059,63.202,63.202,70.257,70.257L187.147,395.109z M373.444,153.773l-15.218-15.218l58.897-58.897l15.218,15.218 L373.444,153.773z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
            Vacunaci칩n
          </h3>
          <p class="text-gray-500">
            Aqui va texto pequeno describiendo el servicio.
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".3s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-gray-900 mb-4">
            <!-- icon -->
            <svg
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 512 512"
              xml:space="preserve"
              fill="#000000"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <g transform="translate(-1)">
                  <g>
                    <path
                      style="fill: #ffd700"
                      d="M213.61,69.424c-19.144,0-34.712-15.568-34.712-34.712S194.467,0,213.61,0 c4.79,0,8.678,3.888,8.678,8.678s-3.888,8.678-8.678,8.678c-9.572,0-17.356,7.784-17.356,17.356s7.784,17.356,17.356,17.356 c4.79,0,8.678,3.888,8.678,8.678S218.4,69.424,213.61,69.424"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M300.39,69.424c-4.79,0-8.678-3.888-8.678-8.678s3.888-8.678,8.678-8.678 c9.572,0,17.356-7.784,17.356-17.356s-7.784-17.356-17.356-17.356c-4.79,0-8.678-3.888-8.678-8.678S295.6,0,300.39,0 c19.144,0,34.712,15.568,34.712,34.712S319.533,69.424,300.39,69.424"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M404.525,251.665c-0.902,0-1.831-0.148-2.742-0.451l-26.034-8.678 c-1.831-0.607-3.402-1.814-4.478-3.419l-32.716-49.074l-39.867-7.975c-0.755-0.148-1.493-0.399-2.178-0.746l-17.356-8.678 c-4.287-2.143-6.031-7.359-3.888-11.646c2.152-4.278,7.359-6.023,11.646-3.879l16.323,8.157l42.244,8.452 c2.256,0.451,4.244,1.779,5.519,3.697l33.063,49.586l23.205,7.741c4.547,1.519,7.012,6.43,5.493,10.978 C411.546,249.366,408.161,251.665,404.525,251.665"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M109.475,251.665c-3.636,0-7.02-2.3-8.235-5.936c-1.519-4.547,0.946-9.459,5.493-10.978 l23.205-7.741L163,177.425c1.276-1.918,3.263-3.246,5.519-3.697l42.244-8.452l16.323-8.157c4.287-2.143,9.494-0.399,11.646,3.879 c2.143,4.287,0.399,9.502-3.888,11.646l-17.356,8.678c-0.686,0.347-1.423,0.599-2.178,0.746l-39.867,7.975l-32.716,49.074 c-1.076,1.605-2.647,2.812-4.478,3.419l-26.034,8.678C111.306,251.518,110.377,251.665,109.475,251.665"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M152.864,156.203c-1.085,0-2.178-0.2-3.228-0.616l-43.39-17.356 c-4.443-1.788-6.613-6.83-4.834-11.29c1.779-4.443,6.812-6.613,11.29-4.834l38.86,15.551l30.807-23.109 c1.501-1.128,3.332-1.736,5.207-1.736h52.068c4.79,0,8.678,3.888,8.678,8.678s-3.888,8.678-8.678,8.678h-49.178l-32.395,24.298 C156.544,155.613,154.713,156.203,152.864,156.203"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M361.136,156.203c-1.848,0-3.679-0.59-5.207-1.736l-32.395-24.298h-49.178 c-4.79,0-8.678-3.888-8.678-8.678s3.888-8.678,8.678-8.678h52.068c1.874,0,3.705,0.607,5.207,1.736l30.807,23.109l38.86-15.551 c4.469-1.762,9.502,0.391,11.29,4.834c1.779,4.46-0.391,9.502-4.834,11.29l-43.39,17.356 C363.314,156.004,362.22,156.203,361.136,156.203"
                    ></path>
                  </g>
                  <path
                    style="fill: #ffd700"
                    d="M283.034,125.831c0,11.984-11.655,21.695-26.034,21.695s-26.034-9.711-26.034-21.695 s11.655-21.695,26.034-21.695S283.034,113.846,283.034,125.831"
                  ></path>
                  <g>
                    <path
                      style="fill: #ffd700"
                      d="M213.61,69.424c0-19.17,19.43-34.712,43.39-34.712s43.39,15.542,43.39,34.712 s-19.43,34.712-43.39,34.712S213.61,88.593,213.61,69.424"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M291.712,173.559c0,14.379-15.542,26.034-34.712,26.034s-34.712-11.655-34.712-26.034 c0-14.379,15.542-26.034,34.712-26.034S291.712,159.18,291.712,173.559"
                    ></path>
                    <path
                      style="fill: #ffd700"
                      d="M300.39,512h-86.78c-14.379,0-26.034-11.654-26.034-26.034c0-14.379,11.655-26.034,26.034-26.034 h86.78c14.379,0,26.034,11.655,26.034,26.034C326.424,500.346,314.769,512,300.39,512"
                    ></path>
                  </g>
                  <path
                    style="fill: #ffd700"
                    d="M317.746,459.932H196.254c-14.379,0-26.034-11.654-26.034-26.034 c0-14.379,11.655-26.034,26.034-26.034h121.492c14.379,0,26.034,11.654,26.034,26.034 C343.78,448.278,332.125,459.932,317.746,459.932"
                  ></path>
                  <path
                    style="fill: #ffd700"
                    d="M335.102,407.864H178.898c-14.379,0-26.034-11.655-26.034-26.034s11.655-26.034,26.034-26.034 h156.203c14.379,0,26.034,11.655,26.034,26.034S349.481,407.864,335.102,407.864"
                  ></path>
                  <path
                    style="fill: #ffd700"
                    d="M335.102,355.797H178.898c-14.379,0-26.034-11.654-26.034-26.034 c0-14.379,11.655-26.034,26.034-26.034h156.203c14.379,0,26.034,11.654,26.034,26.034 C361.136,344.142,349.481,355.797,335.102,355.797"
                  ></path>
                  <path
                    style="fill: #ffd700"
                    d="M317.746,303.729H196.254c-14.379,0-26.034-11.655-26.034-26.034s11.655-26.034,26.034-26.034 h121.492c14.379,0,26.034,11.655,26.034,26.034S332.125,303.729,317.746,303.729"
                  ></path>
                  <path
                    style="fill: #ffd700"
                    d="M300.39,251.661h-86.78c-14.379,0-26.034-11.655-26.034-26.034 c0-14.379,11.655-26.034,26.034-26.034h86.78c14.379,0,26.034,11.655,26.034,26.034 C326.424,240.007,314.769,251.661,300.39,251.661"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
            Desparasitaci칩n
          </h3>
          <p class="text-gray-500">
            Aqui va texto pequeno describiendo el servicio.
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-gray-900 mb-4">
            <!-- icon -->
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10.948 1.25H13.052C13.9505 1.24997 14.6997 1.24995 15.2945 1.32991C15.9223 1.41432 16.4891 1.59999 16.9445 2.05546C17.4 2.51093 17.5857 3.07773 17.6701 3.70552C17.6928 3.87459 17.7091 4.05613 17.7207 4.25003C18.3101 4.25037 18.8084 4.25421 19.219 4.29599C19.6925 4.34415 20.1318 4.44886 20.5278 4.71346C20.8281 4.9141 21.0859 5.17191 21.2865 5.47218C21.5511 5.86818 21.6559 6.30755 21.704 6.78102C21.75 7.23336 21.75 7.79209 21.75 8.46168V21.25H22C22.4142 21.25 22.75 21.5858 22.75 22C22.75 22.4142 22.4142 22.75 22 22.75H2C1.58579 22.75 1.25 22.4142 1.25 22C1.25 21.5858 1.58579 21.25 2 21.25H2.25L2.25 8.46166C2.24998 7.79208 2.24997 7.23335 2.29598 6.78102C2.34415 6.30755 2.44886 5.86818 2.71346 5.47218C2.91409 5.17191 3.17191 4.9141 3.47218 4.71346C3.86818 4.44886 4.30755 4.34415 4.78102 4.29599C5.19165 4.25421 5.68995 4.25037 6.27927 4.25003C6.29091 4.05613 6.30718 3.87459 6.32991 3.70552C6.41432 3.07773 6.59999 2.51093 7.05546 2.05546C7.51093 1.59999 8.07773 1.41432 8.70552 1.32991C9.3003 1.24995 10.0495 1.24997 10.948 1.25ZM6.25003 5.75011C5.66742 5.75075 5.25586 5.75542 4.93283 5.78828C4.57796 5.82438 4.41399 5.8882 4.30554 5.96067C4.16905 6.05186 4.05186 6.16905 3.96066 6.30554C3.8882 6.41399 3.82438 6.57796 3.78828 6.93283C3.75091 7.30023 3.75 7.78216 3.75 8.5V21.25H6.25V14.75H5.5C5.08579 14.75 4.75 14.4142 4.75 14C4.75 13.5858 5.08579 13.25 5.5 13.25H6.25V11.75H5.5C5.08579 11.75 4.75 11.4142 4.75 11C4.75 10.5858 5.08579 10.25 5.5 10.25H6.25V8.75H5.5C5.08579 8.75 4.75 8.41422 4.75 8C4.75 7.58579 5.08579 7.25 5.5 7.25H6.25L6.25 5.94801C6.25 5.88122 6.24999 5.81525 6.25003 5.75011ZM7.75 21.25H11.25V19C11.25 18.5858 11.5858 18.25 12 18.25C12.4142 18.25 12.75 18.5858 12.75 19V21.25H16.25V6C16.25 5.03599 16.2484 4.38843 16.1835 3.90539C16.1214 3.44393 16.0142 3.24644 15.8839 3.11612C15.7536 2.9858 15.5561 2.87858 15.0946 2.81654C14.6116 2.7516 13.964 2.75 13 2.75H11C10.036 2.75 9.38843 2.7516 8.90539 2.81654C8.44393 2.87858 8.24643 2.9858 8.11612 3.11612C7.9858 3.24644 7.87858 3.44393 7.81654 3.90539C7.75159 4.38843 7.75 5.03599 7.75 6V21.25ZM17.75 8.75H18.5C18.9142 8.75 19.25 8.41422 19.25 8C19.25 7.58579 18.9142 7.25 18.5 7.25H17.75L17.75 5.94801C17.75 5.88122 17.75 5.81525 17.75 5.75011C18.3326 5.75075 18.7441 5.75542 19.0672 5.78828C19.422 5.82438 19.586 5.8882 19.6945 5.96067C19.8309 6.05186 19.9481 6.16905 20.0393 6.30554C20.1118 6.41399 20.1756 6.57796 20.2117 6.93283C20.2491 7.30023 20.25 7.78216 20.25 8.5V21.25H17.75V14.75H18.5C18.9142 14.75 19.25 14.4142 19.25 14C19.25 13.5858 18.9142 13.25 18.5 13.25H17.75V11.75H18.5C18.9142 11.75 19.25 11.4142 19.25 11C19.25 10.5858 18.9142 10.25 18.5 10.25H17.75V8.75ZM12 4.25C12.4142 4.25 12.75 4.58579 12.75 5V6.25H14C14.4142 6.25 14.75 6.58579 14.75 7C14.75 7.41422 14.4142 7.75 14 7.75H12.75V9C12.75 9.41422 12.4142 9.75 12 9.75C11.5858 9.75 11.25 9.41422 11.25 9V7.75H10C9.58579 7.75 9.25 7.41422 9.25 7C9.25 6.58579 9.58579 6.25 10 6.25H11.25V5C11.25 4.58579 11.5858 4.25 12 4.25ZM9.25 12C9.25 11.5858 9.58579 11.25 10 11.25H14C14.4142 11.25 14.75 11.5858 14.75 12C14.75 12.4142 14.4142 12.75 14 12.75H10C9.58579 12.75 9.25 12.4142 9.25 12ZM9.25 15C9.25 14.5858 9.58579 14.25 10 14.25H14C14.4142 14.25 14.75 14.5858 14.75 15C14.75 15.4142 14.4142 15.75 14 15.75H10C9.58579 15.75 9.25 15.4142 9.25 15Z"
                  fill="#FFD700"
                ></path>
              </g>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
            Hospitalizaci칩n
          </h3>
          <p class="text-gray-500">
            Aqui va texto pequeno describiendo el servicio..
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".1s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.1s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-gray-900 mb-4">
            <!-- icon -->
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              fill="#FFD700"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <defs>
                  <style>
                    .cls-1 {
                      fill: none;
                      stroke: #ffd700;
                      stroke-miterlimit: 10;
                      stroke-width: 1.91px;
                    }
                  </style>
                </defs>
                <g id="test_tubes" data-name="test tubes">
                  <line
                    class="cls-1"
                    x1="3.41"
                    y1="1.5"
                    x2="11.05"
                    y2="1.5"
                  ></line>
                  <line
                    class="cls-1"
                    x1="12.95"
                    y1="1.5"
                    x2="20.59"
                    y2="1.5"
                  ></line>
                  <path
                    class="cls-1"
                    d="M5.32,1.5H9.14a0,0,0,0,1,0,0V16.77a1.91,1.91,0,0,1-1.91,1.91h0a1.91,1.91,0,0,1-1.91-1.91V1.5A0,0,0,0,1,5.32,1.5Z"
                  ></path>
                  <line
                    class="cls-1"
                    x1="0.55"
                    y1="22.5"
                    x2="23.45"
                    y2="22.5"
                  ></line>
                  <line
                    class="cls-1"
                    x1="0.55"
                    y1="6.27"
                    x2="23.45"
                    y2="6.27"
                  ></line>
                  <path
                    class="cls-1"
                    d="M14.86,1.5h3.82a0,0,0,0,1,0,0V16.77a1.91,1.91,0,0,1-1.91,1.91h0a1.91,1.91,0,0,1-1.91-1.91V1.5a0,0,0,0,1,0,0Z"
                  ></path>
                  <line
                    class="cls-1"
                    x1="1.5"
                    y1="6.27"
                    x2="1.5"
                    y2="22.5"
                  ></line>
                  <line
                    class="cls-1"
                    x1="22.5"
                    y1="6.27"
                    x2="22.5"
                    y2="22.5"
                  ></line>
                  <line
                    class="cls-1"
                    x1="5.32"
                    y1="10.09"
                    x2="9.14"
                    y2="10.09"
                  ></line>
                  <line
                    class="cls-1"
                    x1="14.86"
                    y1="12"
                    x2="18.68"
                    y2="12"
                  ></line>
                </g>
              </g>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
            Laboratorios
          </h3>
          <p class="text-gray-500">
            Aqui va texto pequeno describiendo el servicio..
          </p>
        </div>
        <!-- end service block -->
      </div>
      <div
        class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay=".3s"
        style="
          visibility: visible;
          animation-duration: 1s;
          animation-delay: 0.3s;
          animation-name: fadeInUp;
        "
      >
        <!-- service block -->
        <div
          class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2"
        >
          <div class="inline-block text-gray-900 mb-4">
            <!-- icon -->
            <svg
              height="64px"
              width="64px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 390.206 390.206"
              xml:space="preserve"
              fill="#000000"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  style="fill: #ffffff"
                  d="M195.103,120.501c-42.796,0-76.412,56.372-76.412,105.115c0,46.61,29.802,76.929,76.412,76.929 c46.093,0,76.412-30.319,76.412-76.929C271.515,176.873,237.899,120.501,195.103,120.501z"
                ></path>
                <g>
                  <path
                    style="fill: #ffc10d"
                    d="M157.156,178.489c-1.422-0.711-2.974-1.099-4.461-1.164c10.667-20.428,26.828-35.168,42.408-35.168 c15.58,0,31.677,14.675,42.343,35.038c-1.681,0.065-3.362,0.453-4.978,1.228C209.196,190.448,181.01,190.448,157.156,178.489z"
                  ></path>
                  <path
                    style="fill: #ffc10d"
                    d="M249.859,225.681c0,50.941-41.697,55.273-54.756,55.273c-4.655,0-12.994-0.517-21.721-3.426 c4.978-0.97,8.727-5.43,8.727-10.667c0-5.947-4.848-10.861-10.861-10.861h-24.178c-4.137-7.628-6.723-17.455-6.723-30.319 c0-9.891,1.681-19.846,4.525-29.349c0.711,0.646,1.552,1.228,2.457,1.681c28.703,15.192,65.616,14.61,94.836,0 c1.099-0.582,2.069-1.293,2.909-2.133C248.113,205.511,249.859,215.661,249.859,225.681z"
                  ></path>
                </g>
                <g>
                  <path
                    style="fill: #194f82"
                    d="M379.345,214.82h-86.691c-1.099-16.808-5.947-33.616-12.477-48.808h29.802 c5.947,0,10.861-4.848,10.861-10.861s-4.848-10.796-10.861-10.796h-41.762c-15.192-23.273-36.848-40.663-62.319-44.412V76.671 c0-5.947-4.848-10.861-10.861-10.861c-5.947,0-10.861,4.848-10.861,10.861v23.273c-24.954,3.814-46.61,21.139-62.319,44.412H80.097 c-5.947,0-10.861,4.848-10.861,10.861s4.848,10.861,10.861,10.861h29.802c-7.046,15.709-11.378,32.517-12.477,48.808H10.861 C4.913,214.885,0,219.733,0,225.745c0,5.947,4.848,10.861,10.861,10.861h28.703v7.046c0,5.947,4.848,10.861,10.861,10.861 s10.861-4.848,10.861-10.861v-7.046h36.331c4.848,52.04,43.378,87.79,97.552,87.79s92.638-35.879,97.487-87.855h36.331v7.046 c0,5.947,4.848,10.861,10.861,10.861s10.861-4.848,10.861-10.861v-7.046h28.638c5.947,0,10.861-4.848,10.861-10.861 S385.358,214.82,379.345,214.82z M195.103,302.61c-25.471,0-45.511-9.244-59.087-24.954h35.232c5.947,0,10.861-4.848,10.861-10.861 s-4.848-10.861-10.861-10.861h-47.709c-3.232-9.244-4.848-19.523-4.848-30.319c0-48.808,33.034-105.115,76.412-105.115 s76.412,56.372,76.412,105.115C271.515,272.291,241.196,302.61,195.103,302.61z"
                  ></path>
                  <path
                    style="fill: #194f82"
                    d="M232.469,178.489c-23.273,11.895-51.459,11.895-75.313,0c-5.43-2.715-11.895-0.517-14.61,4.848 c-2.715,5.43-0.517,11.895,4.848,14.61c28.703,15.192,65.552,14.61,94.836,0c5.43-2.715,7.564-9.244,4.848-14.61 C244.428,177.455,237.899,175.838,232.469,178.489z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <h3 class="text-lg leading-normal mb-2 font-semibold text-black">
            Tr치mites de viaje
          </h3>
          <p class="text-gray-500">
            Aqui va texto pequeno describiendo el servicio..
          </p>
        </div>
        <!-- end service block -->
      </div>
    </div>
    <!-- end row -->
  </div>
</section>