<section class="container flex flex-col gap-5 items-center w-[80%] mx-auto py-5">
  <%= render partial: 'email_log_in' %>

  <p>or</p>
  
  <%= render partial: 'google_auth' %>

  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</section>

